

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --branco:#F5F5F5 ;
    --bege: #F2EAD3 ;
    --begeMedio: #DFD7BF;
    --marrom: #3F2305;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
    backdrop-filter: grayscale(30%);
    font-family: 'Exo 2', sans-serif;
}

main{
    border: 1px solid var(--marrom);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--bege);
   
}
  
.saldo{
    border: 1px solid var(--marrom);
    border-radius: 5px;
    width:15rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--branco);
}
.Despesa{
    border: 1px solid var(--marrom);
    border-radius: 5px;
    width:15rem;
    height: auto;
    padding: 5px ;
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
}
.containerRelatorio{
    border: 1px solid var(--marrom);
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--branco);
    

}
.containerRelatorio h3{
    margin: 5px 0;
    text-align: center;
    
    
}
.containerRelatorio p{
    display: inline-block;
    margin: 0 0 10px ;
    border-bottom:1px dotted var(--marrom);
    
}
.containerAdd{
    padding-top: 1rem;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    border-top: 1px dotted gray;
    padding-bottom: 1rem;
    
    
}
.inputs, .buttons{
    width: 40%;
    border: 1px solid var(--marrom);
    border-radius: 5px;
}
.buttons{
    margin-bottom: 10px;
    padding: 5px;
}
.inputs{
    margin-bottom: 4px;
    padding: 5px;
}
.labels{
    margin-bottom: 2px;
    
    
}
.labelValorDisplay{
    display: inline-block;
    position: relative;
    left: 50%;
}